services:
  node:
    build:
      context: ./docker/node/
      dockerfile: node.Dockerfile
    container_name: pms-node
    ports:
      - "3000:3000"
    volumes:
      - ./:/home/app/
    tty: true

  mysql:
    build: 
      context: ./docker/mysql/
      dockerfile: mysql.Dockerfile
    container_name: pms-mysql
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
    env_file: ./docker/mysql/.env.mysql
    restart: always

  redis:
    image: redis:8.2.0-alpine
    container_name: pms-redis
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ./docker/redis/data:/data
    env_file: ./docker/redis/.env.redis
    restart: always
    command: [
      "redis-server",
      "/usr/local/etc/redis/redis.conf",
      "--requirepass ${REDIS_PASSWORD}"
    ]
